/*  BUTTONS  */

#resume:active,
#resume:hover,
#lap:active,
#lap:hover,
#reset:active,
#reset:hover {
    background-color: #4f4f4f;
}

#start {
    background-color: #15b222;
}

#start:active,
#start:hover {
    background-color: #32b53d;
}

#stop {
    background-color: #ff2d2d;
}

#stop:active,
#stop:hover {
    background-color: #ff4747;
}