/*  TIME  */

#time {
    display: flex;
    font-size: 10vw;
    width: 100vw;
    height: 20vh;
    justify-content: center;
    align-items: center;
}


/*  LAPS DISPLAY  */

#laps {
    color: white;
    padding: 2em;
    font-size: 3vh;
    height: 40vh;
    overflow-y: auto;
}

#laps>div {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin-bottom: 2vh;
}